.btn{
    background: linear-gradient(96.24deg, #FF7448 0%, #FF4848 52.43%, #6248FF 92.36%);
   border-radius: 8px;
align-items: center;
padding: 12px 24px;
font-family: 'Hanson';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 26px;
text-align: center !important;
letter-spacing: -0.02em;
border: 1px solid #000000;
color: #101010;
&.black{
    background: linear-gradient(96.24deg, #FF7448 0%, #FF4848 52.43%, #6248FF 92.36%);
    color: #fff;
    border: 1px solid #FAFAFA;
}
&.white{
    background:  #EFEFEF;
    border-radius: 8px;
    border: none;
}
&.font{
    font-family: 'GelanoReg';
font-size: 16px;
font-weight: bold;
padding: 16px 24px;
letter-spacing: 0.01em;
}
}
@media screen and (max-width: 800px) {
.btn{
padding: 8px 18px;
font-size: 8px;
line-height: 22px;
}
}