.btn{
    background: linear-gradient(180deg, #FEA989 0%, #FF2F61 99.99%, rgba(245, 138, 37, 0.32) 100%);
border-radius: 8px;
align-items: center;
padding: 12px 24px;
font-family: 'Hanson';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 26px;
text-align: center !important;
letter-spacing: -0.02em;

color: #101010;
&.black{
    background: linear-gradient(121.82deg, #6D5DD3 30.85%, #FF2F61 87.25%);
    color: #fff;
}
&.white{
    background:  #EFEFEF;;
}
&.font{
    font-family: 'GelanoReg';
font-size: 16px;
font-weight: bold;
padding: 16px 24px;
letter-spacing: 0.01em;
}
}
@media screen and (max-width: 800px) {
.btn{
padding: 8px 18px;
font-size: 8px;
line-height: 22px;
}
}